* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden; 
}

  .WholeProject {
    width: 100%;    
    min-height: 100vh;
    background-color: #e3e7e0;
    margin: 0;
    padding: 0;

  }

  .title-section {
    display: flex;
    flex-direction: column;   /* stack vertically */
    align-items: center;      /* center horizontally */
    padding: 20px 20px;
    margin: 0;
}

.scroll-text {
    margin-top: 10px; /* tiny gap only */
}
  